
* {
    box-sizing: border-box;
}

.calendar {
    background-color: rgb(255, 255, 255);
    width: 30em;
    user-select: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.calendar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

.calendar-header > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: .5em;
}

.calendar-header > button > svg {
    fill: #c8c8c8;
    transition: 250ms;
}

.calendar-header > button:hover > svg {
    fill: #000000;
}

.calendar-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: auto 1fr;
    padding: 1em;
}

.day-cell {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    /*border-radius: 50%;*/
    aspect-ratio: 1;
    transition: 300ms;
}

.day-cell.weekend {
    color: #ff0000;
}

.day-cell:not(.disabled):hover, .day-cell.disabled:hover {
    font-weight: 800;
    cursor: pointer;
    filter: none;
}

.day-cell.disabled {
    /*color: #c8c8c8;*/
    filter: grayscale() opacity(.2);
}

.day-name{
    font-size: .7em;
    color: #000000;
    font-weight: 800;
}

.day-name.weekend{
    color: #ff0000;
}

.day-cell > .day-events {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: .1em;
    row-gap: .1em;
    justify-items: center;
    align-items: center;
    width: 100%;
    top: 0;
    padding: .5em;
}

.day-cell > .day-events > div {
    height: .3em;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
}

.day-cell > .day-events > div > .tooltip {
    background-color: #000000;
    height: 3em;
    width: max-content;
    max-width: 30em;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    bottom: 1.5em;
    transform: translateX(-50%);
    border-radius: 500px;
    font-size: .4em;
    font-weight: normal;
    padding: 0 1em;
    transition: 250ms;
}

.day-cell > .day-events > div > .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
  }

.day-cell > .day-events > div > .tooltip > p {
    width: 100%;
    color: #fff;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.day-cell > .day-events > div:hover > .tooltip {
    visibility: visible;
    opacity: .8;
}

.year-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    font-size: .3em;
}

.day-view {
    width: 100%;
    max-height: 20em;
    overflow: auto;
    padding: 2em;
}

.day-view > .hour {
    display: flex;
    column-gap: 1em;
    width: 100%;
    min-height: 100px;
    border-top: 1px solid #d8d8d8;
    padding: .2em 1em;
    /*overflow: hidden;*/
}

.day-view > .hour:last-child {
    border-bottom: 1px solid #d8d8d8;
}

.day-view > .hour > .hour-events {
    display: flex;
    column-gap: .5em;
    row-gap: .3em;
    flex-wrap: wrap;
}

.day-view > .hour > .hour-events > div {
    display: flex;
    align-items: center;
    height: 3em;
    width: max-content;
    max-width: 30em;
    border-radius: 500px;
    font-size: .4em;
    padding: 0 1em;
    cursor: pointer;
}

.day-view > .hour > .hour-events > div > p {
    width: 100%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.day-view > .hour > span {
    top: .4em;
    left: 2em;
    color: #c8c8c8;
    font-size: .5em;
}